@page
@model ECommerceShop.Pages.Coffeee.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Do you REALLY want to remove this?</h3>
<div>
    <h4>Coffee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coffee.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coffee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coffee.Feature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coffee.Feature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coffee.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coffee.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coffee.ArrivingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coffee.ArrivingDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Coffee.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to Coffee</a>
    </form>
</div>
